@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



.navbar
{
    background: #2C3E50 !important;
    font-family: 'Montserrat', sans-serif;
    padding: 0.8rem;
}

.navbar-brand
{
    color: #fff;
    font-size: 1.25em;
    padding: 5px 10px;

}

.navbar-collapse a
{
    color: #fff;
}

.navbar-toggler
{
    color: #fff;
    font-size: .82rem;
    padding: .9rem;
   
}
@media screen and (min-width: 992px)
{

    .navbar-brand {
        font-size: 1.75em;
        padding: 5px 0;
        transition: font-size 0.3s;
    }

    a.nav-link
    {
        color: #fff;
    }
    a.nav-link:hover
    {
        color: #1abc9c;
    }
    .active,   a.nav-link.active:hover {
        color: #fff !important;
        background: #1abc9c;
    }
  
}
@media screen and (max-width: 991px)
{
    .navbar-collapse a
    {
        margin-left : 25px;

    }
    .navbar-collapse a:hover ,.navbar-collapse a.active {
        color: #1abc9c !important;
    }
}