<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">START ANGULAR</a>
        <button class="navbar-toggler bg-prim rounded " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            
            MENU <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " routerLinkActive="active" routerLink="/home">HOME</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " routerLinkActive="active" routerLink="/portfolio">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " routerLinkActive="active" routerLink="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " routerLinkActive="active" routerLink="/contact">CONTACT</a>
                </li>
                
                
            </ul>
           
        </div>

    </div>
</nav>