/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body
{
    font-family: 'Lato', sans-serif;
}


.bg-prim {
    background-color: #1abc9c !important;
}
.prim
{
    color : #1abc9c !important;
}
.btn-prim {
    color: #fff;
    background-color: #1abc9c;
    border: 0.125rem solid #1abc9c;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-prim:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}
.bg-sec
{
    background: #2c3e50 !important;
}
.sec
{
    color: #2c3e50 !important;
}
.rounded
{
    border-radius: 0.75rem !important;
}


.page-section {
    padding: 6rem 0;
}
.masthead-avatar {
    width: 15rem;
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}
.masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}
h1 , h2 , h3 , h4 , h5 , h6  {
    font-family: 'Montserrat', sans-serif;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50 ;
    border-radius: 1rem;
    border-color: #2c3e50 ;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
    border-color: #fff;

}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-icon {
   
    font-size: 2rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
}

@media (min-width: 992px)
{
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }

    .page-section .page-section-heading {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}